{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <title>{% block title %}Item Manager{% endblock %}</title>
</head>
<body>
    <!-- Navbar -->
    <nav class="navbar sticky-top navbar-light bg-light align-items-center">
        <div class="col-12 col-md-6 text-center text-md-left">
            <a class="navbar-brand" href="{% url 'home' %}">Item Manager</a>
        </div>
              
        <div class="col-12 col-md-6 d-flex justify-content-center justify-content-md-end">
            {% if user.is_authenticated %}
                <p class="nav-link d-none d-md-block"><< {{ user.username }} >></p>
                <a class="nav-link d-none d-md-block" href="{% url 'home' %}">Inicio</a>
                {% if user.is_staff %}
                    <a class="nav-link d-none d-md-block" href="{% url 'dashboard' %}">Dashboard</a>
                {% else %}
                    <a class="nav-link d-none d-md-block" href="{% url 'mis-proyectos-list' %}">Mis Proyectos</a>
                    <a class="nav-link d-none d-md-block" href="{% url 'mis-items-list' %}">Mis Items</a>
                {% endif %}
                <a class="nav-link d-none d-md-block" href="{% url 'logout' %}">Salir</a>
            {% endif %}
        </div>
    </nav><!-- End of Navbar -->
    <!-- Main Content -->
    <div class="container-fluid justify-content-center mt-3">
        {% block content %}
        <p>BASE TEMPLATE</p>
        <p>POR FAVOR AGREGA CONTENIDO</p>
        {% endblock %}
    </div><!-- End of Main Content -->
</body>
</html>