{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    Cambio de Estado Crear
{% endblock %}

{% block content %}
    {% if user.is_staff %}
    <br>
    <h2>Creación de Cambio de Estado
    <div class="float-right"><a href="javascript:window.open('', '_self', '');window.close();;void 0" class="btn btn-danger">Cancelar</a></div>
    </h2>
    <hr>
    
    <h4>Auxiliares</h4>
    <p>
        Para Estados:
        <a href="javascript:window.open('{% url 'estadoitem-create-popup' %}','','width=550,height=500,left=300,top=100,toolbar=yes');void 0" class="btn btn-sm btn-secondary">Crear Estado</a>
    </p>
    <hr>

    <h2>Nuevo Cambio de Estado</h2>
    <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <input type="submit" value="Crear" class="btn btn-primary">
    </form>
    {% else %}
        <br>
        <h2>No tiene los permisos necesarios para ver esta página!</h2>
        <a class="btn btn-primary" href="{% url 'home' %}">Volver al Inicio</a>
    {% endif %}
{% endblock %}