{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    Dashboard
{% endblock %}

{% block content %}
    <br>
    <h2>Dashboard Administrador</h2>
    <hr>
   
    <ul>
        <li><a class="nav-link d-none d-md-block" href="{% url 'usuario-list' %}">Gestionar Usuarios</a></li>

        <li><a class="nav-link d-none d-md-block" href="{% url 'home' %}">Gestionar Proyectos</a></li>

        <li><a class="nav-link d-none d-md-block" href="{% url 'home' %}">Gestionar Items</a></li>

        <li><a class="nav-link d-none d-md-block" href="{% url 'home' %}">Gestionar Tipos de Item</a></li>

        <li><a class="nav-link d-none d-md-block" href="{% url 'home' %}">Gestionar Estados de Item</a></li>
    </ul>
{% endblock %}