{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    Estados de Item
{% endblock %}

{% block content %}
    <br>
    <h2>Gestión de Estados de Item
    <div class="float-right"><a class="btn btn-primary mx-3 float-right" href="{% url 'estadoitem-create' %}">Crear Estado</a></div>
    </h2>
    <hr>
   
    <ul class="list-group">
        {% for estado in object_list %}
            <li class="list-group-item">
                <a href="{% url 'estadoitem-detail' estado.id %}">
                    <div class="float-left">{{ estado.nombre }}</div>
                </a>
                <div>
                    <a class="mx-3 float-right" href="{% url 'estadoitem-delete' estado.id %}">Eliminar</a>
                    <a class="mx-3 float-right" href="{% url 'estadoitem-update' estado.id %}">Modificar</a>
                </div>
            </li>
        {% endfor %}
    </ul>
{% endblock %}