{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    Item
{% endblock %}

{% block content %}
    {% if user.is_staff or user.pk in autorizados %}
    <br>
    <h2>Item: {{ object }}
    {% if user.is_staff %}
        <div class="float-right"><a class="btn btn-primary mx-3 float-right" href="{% url 'item-list' %}">Volver</a></div>
    {% else %}
        <div class="float-right"><a class="btn btn-primary mx-3 float-right" href="{% url 'mis-items-list' %}">Volver</a></div>
    {% endif %}
    </h2>
    <hr>

    <p><span class="h3">Nombre:</span> <span class="h4">{{ object.nombre }}</span></p>
    <p><span class="h3">Proyecto:</span> <span class="h4">{{ object.proyecto }}</span></p>
    <p><span class="h3">Detalle:</span> <span class="h4">{{ object.detalle }}</span></p>
    <p><span class="h3">Creado:</span> <span class="h4">{{ object.creacion }}</span></p>
    <p><span class="h3">Tipo:</span> <span class="h4">{{ object.tipo.nombre }}</span></p>
    <p><span class="h5">Detalle(tipo):</span> <span class="h5">{{ object.tipo.detalle }}</span></p>
    <br>
    <p><span class="h3">Responsable:</span> <span class="h4">{{ object.responsable.first_name }} {{ object.responsable.last_name }}</span></p>
    <p><span class="h3">Equipo:</span></p>
    <ul>
        {% for p in object.desarrolladores.all %}
            <li>{{ p.first_name }}, {{ p.last_name }}</li>
        {% endfor %}
    </ul>
    <br>
    <p><span class="h2">ESTADO:</span> <span class="h2">{{ object.estado }}</span></p>

    <p><span class="h3">Historial:</span></p>
    <ol>
        {% for s in object.snapshot.all %}
            <li>Fecha: {{ s.creacion }} | Estado: {{ s.estado.nombre }} | Responsable: {{ s.responsable.first_name }},{{ s.responsable.last_name }}</li>
        {% endfor %}
    </ol>
    
    {% if user.is_staff or user.pk == object.responsable.pk %}
        <div class="text-center mt-3">
            <a class="btn btn-primary mx-2" href="{% url 'item-update-responsable' object.id %}">Asignar nuevo responsable</a>
            <a class="btn btn-primary mx-2" href="{% url 'item-update-estado' object.id %}">Cambiar Estado</a>
        </div>
    {% endif %}
    <br>
    <br>
    {% else %}
        <br>
        <h2>No tiene los permisos necesarios para ver esta página!</h2>
        <a class="btn btn-primary" href="{% url 'home' %}">Volver al Inicio</a>
    {% endif %}
{% endblock %}