{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    Items
{% endblock %}

{% block content %}
    <br>
    <h2>Mis Items</h2>
    <hr>
   
    <h4>Controla (responsable)</h4>
    <ul class="list-group">
        {% for item in items_controlados %}
            {% if item.estado.nombre != 'Finalizado' and item.estado.nombre != 'Cancelado' %}
                <li class="list-group-item">
                    <a href="{% url 'item-detail' item.id %}">
                        <div class="float-left">{{ item.nombre }}</div>
                    </a>
                    <div>
                        <a class="mx-3 float-right" href="{% url 'item-detail' item.id %}">Actualizar</a>
                    </div>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
    <br>
    <hr>
    <h4>Trabaja (desarrollador)</h4>
    <ul class="list-group">
        {% for item in items_trabajados %}
            {% if item.estado.nombre != 'Finalizado' and item.estado.nombre != 'Cancelado' %}
                <li class="list-group-item">
                    <a href="{% url 'item-detail' item.id %}">
                        <div class="float-left">{{ item.nombre }}</div>
                    </a>
                    <div>
                        <a class="mx-3 float-right" href="{% url 'item-detail' item.id %}">Ver</a>
                    </div>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
    <br>
    <hr>
    <h4>Finalizados</h4>
    <ul class="list-group">
        {% for item in items_controlados %}
            {% if item.estado.nombre == 'Finalizado' or item.estado.nombre == 'Cancelado' %}
                <li class="list-group-item">
                    <a href="{% url 'item-detail' item.id %}">
                        <div class="float-left">{{ item.nombre }}</div>
                    </a>
                    <div>
                        <a class="mx-3 float-right" href="{% url 'item-detail' item.id %}">Ver</a>
                    </div>
                </li>
            {% endif %}
        {% endfor %}
        {% for item in items_trabajados %}
            {% if item.estado.nombre == 'Finalizado' or item.estado.nombre == 'Cancelado' %}
                <li class="list-group-item">
                    <a href="{% url 'item-detail' item.id %}">
                        <div class="float-left">{{ item.nombre }}</div>
                    </a>
                    <div>
                        <a class="mx-3 float-right" href="{% url 'item-detail' item.id %}">Ver</a>
                    </div>
                </li>
            {% endif %}
        {% endfor %}
    </ul>

    <div class="text-center mt-3">
        <a class="btn btn-primary" href="{% url 'home' %}">Volver</a>
    </div>
{% endblock %}