{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    Proyecto Crear
{% endblock %}

{% block content %}
    {% if user.is_staff %}
    <br>
    <h2>Creación de Proyecto
    <div class="float-right"><a class="btn btn-danger mx-3 float-right" href="{% url 'proyecto-list' %}">Cancelar</a></div>
    </h2>
    <hr>

    <h4>Auxiliares</h4>
    <p>
        Para Equipo:
        <a href="javascript:window.open('{% url 'usuario-create-popup' %}','','width=500,height=850,left=300,top=100,toolbar=yes');void 0" class="btn btn-sm btn-secondary">Crear Usuario</a>
    </p>
    <hr>
    
    <h2>Nuevo Proyecto</h2>
    <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <input type="submit" value="Crear" class="btn btn-primary">
    </form>
    
    {% else %}
        <br>
        <h2>No tiene los permisos necesarios para ver esta página!</h2>
        <a class="btn btn-primary" href="{% url 'home' %}">Volver al Inicio</a>
    {% endif %}
{% endblock %}