{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    Proyectos
{% endblock %}

{% block content %}
    {% if user.is_staff %}
    <br>
    <h2>Gestión de Proyectos
    <div class="float-right"><a class="btn btn-primary mx-3 float-right" href="{% url 'proyecto-create' %}">Crear Proyecto</a></div>
    </h2>
    <hr>
   
    <ul class="list-group">
        {% for proyecto in object_list %}
            <li class="list-group-item">
                <a href="{% url 'proyecto-detail' proyecto.id %}">
                    <div class="float-left">{{ proyecto.nombre }}</div>
                </a>
                <div>
                    <a class="mx-3 float-right" href="{% url 'proyecto-delete' proyecto.id %}">Eliminar</a>
                    <a class="mx-3 float-right" href="{% url 'proyecto-update' proyecto.id %}">Modificar</a>
                </div>
            </li>
        {% endfor %}
    </ul>

    <div class="text-center mt-3">
        <a class="btn btn-primary" href="{% url 'dashboard' %}">Volver</a>
    </div>
    {% else %}
        <br>
        <h2>No tiene los permisos necesarios para ver esta página!</h2>
        <a class="btn btn-primary" href="{% url 'home' %}">Volver al Inicio</a>
    {% endif %}
{% endblock %}