{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    Proyecto
{% endblock %}

{% block content %}
    {% if user.is_staff %}
    <br>
    <h2>Proyecto: {{ object }}
    <div class="float-right"><a class="btn btn-primary mx-3 float-right" href="{% url 'proyecto-list' %}">Volver</a></div>
    </h2>
    <hr>

    <p><span class="h3">Nombre:</span> <span class="h4">{{ object.nombre }}</span></p>
    <p><span class="h3">Creado:</span> <span class="h4">{{ object.creacion }}</span></p>
    <br>
    <p><span class="h3">Lider:</span> <span class="h4">{{ object.lider.first_name }} {{ object.lider.last_name }}</span></p>
    <p><span class="h3">Equipo:</span></p>
    <ul>
        {% for p in object.equipo.all %}
            <li>{{ p.first_name }}, {{ p.last_name }}</li>
        {% endfor %}
    </ul>
    

    {% else %}
        <br>
        <h2>No tiene los permisos necesarios para ver esta página!</h2>
        <a class="btn btn-primary" href="{% url 'home' %}">Volver al Inicio</a>
    {% endif %}
{% endblock %}