{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    Usuario Crear
{% endblock %}

{% block content %}
    {% if user.is_staff %}
    <br>
    <h2>Creación de Usuario
    <div class="float-right"><a href="javascript:window.open('', '_self', '');window.close();;void 0" class="btn btn-danger">Cancelar</a></div>
    </h2>
    <hr>
   
    <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <input type="submit" value="Crear" class="btn btn-primary">
    </form>
    {% else %}
        <br>
        <h2>No tiene los permisos necesarios para ver esta página!</h2>
        <a class="btn btn-primary" href="{% url 'home' %}">Volver al Inicio</a>
    {% endif %}
{% endblock %}