{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    Usuarios
{% endblock %}

{% block content %}
    {% if user.is_staff %}
    <br>
    <h2>Gestión de Usuarios
    <div class="float-right"><a class="btn btn-primary mx-3 float-right" href="{% url 'usuario-create' %}">Crear Usuario</a></div>
    </h2>
    <hr>
   
    <ul class="list-group">
        {% for user in object_list %}
            <li class="list-group-item">
                <a href="{% url 'usuario-detail' user.id %}">
                    <div class="float-left">{{ user.username }} - [ {{ user.first_name }} {{ user.last_name }} ]</div>
                </a>
                <div>
                    <a class="mx-3 float-right" href="{% url 'usuario-delete' user.id %}">Eliminar</a>
                    <a class="mx-3 float-right" href="{% url 'usuario-update' user.id %}">Modificar</a>
                </div>
            </li>
        {% endfor %}
    </ul>
    {% else %}
        <br>
        <h2>No tiene los permisos necesarios para ver esta página!</h2>
        <a class="btn btn-primary" href="{% url 'home' %}">Volver al Inicio</a>
    {% endif %}
{% endblock %}